
# Ignore unreal directories.
.vs/
Binaries/
Content/
Data/
DerivedDataCache/
Documents/
Intermediate/
Package/
Plugins/
Saved/
Script/

# Ignore additives.
*.sln
Config/DefaultEngine.ini
Config/DefaultCrypto.ini